/* HEADER */
.header {
    display: flex;/* задаем обтикание */
    position: fixed;/* задаем так же позицию - фиусированую */
    top: 0;/* убераем отступы сверху */
    right: 0;/* убераем оступы справа */
    left: 0;/* убераем отступы слева */
}

.header,
.logo {
    flex-direction: row;/* размещене внутрених елементов в ряд */
    justify-content: space-around;/* размещене всех елементов с одинаковыми отспутами друг от друг */
    align-items: center;/* размещение всех элементов по центру */
}

.menu {
    justify-content: space-around;/* размещене всех елементов с одинаковыми отспутами друг от друг */
    align-items: center;/* размещение всех элементов по центру */
}

.menu,
.submenu,
.submenu__list {
    font-size: 0;/* размер текста 0 */
}

.logo {
    width: 20%;/* задаем для лого, в котором заголовок первого уовня и картинка логотип шширину в 20% */
}

.logo__picture-wrap {
    width: 29%;/* для самой картинки в лого задаем ирину в 50% */
}

.logo__picture {
    width: 100%;/* так же для картинки задаем шиинув 100%, что бы она занимала все место которое ей было выделено */
    min-width: 50%;/* задаем так же минимальную ширину, что бы при сужении браузера картинка сужалась максимум на 50%  */
}

.logo__title {
    font-family: 'Rubik Glitch', cursive;/* для заголовка первого уровня добавляем стиль шрифта */
}

.menu-wrap {
    width: 1400px;/* для меню задаем ширину в 100%, что бы она занимал все оставшееся место после заголовка */
    background-color: rgb(51, 51, 51);/* задаем цвет для шапки сайта */
    margin: 0 auto;/*  убрала отступы*/
    padding: 2%;/* добавила отступы */
    border-bottom: 5px solid rgb(0, 158, 225);/* цвт нижней границы */
}

.menu__link {/* цвет текста */
    color: rgb(180, 180, 180);
    font-size: 1rem;/*размер текста*/
}

.menu__link--spesial:hover {/* цвет текса при наведении */
    color: white;
}

.menu__item,
.sub__item {
    position: relative;/*задаем для текста в меню и второго выпадающего списка относительное позиционирование. Свойства top и bottom определяют смещение по вертикали от его нормального положения, свойства left и right задают горизонтальное смещение. */
    display: inline-block;
}

.menu__link,
.submenu__link,
.sub__link,
.submenu__link--spesial {
    white-space: nowrap;/* для ссылок в главном меню и всех эго елементах с сылками задаем значение что бы текст был без переноса */
    padding: 5%;/* задаем внутрение отступы в 5% */
    z-index: 1;/* задаем зет индекс, чо обозначает что элемент выше чем другые элементы при наслаивании */
    font-family: 'Rubik Glitch', cursive;/* задаем стиль шрифту */
    color: white;/* цвет текста */
}

.menu__link {
    display: block;/* тип блок */
    width: 150px;/* ширина  */
    padding: 10%;/* внутрение отступы */
}

.menu__item:hover .submenu,
.sub__item:hover .submenu__list {
    display: block;/* для того что бы елемнеты которые были скрыты, что бы при наведении они отображались */
}

.menu__item--spesial:hover {
    background-color:rgb(0, 158, 225);/* при наведении меняется фоновый цвет */
}

.submenu,
.submenu__list {
    display: none;/* а теперь скрываем элементы */
    position: absolute;/* содержащие блоки являются предками, относительно которых расположены элементы.) */
    padding: 10%;/* внутрение отступы */
    background-color:rgb(0, 158, 225);/* фоновый цвет */
    border: 1px solid rgb(17, 81, 109);/* границы */
}

.submenu__list {
    top: -11px;/* отступ сверху */
    left: 136px;/* отступ в лево */
}

.submenu__item,
.submenu__item--spesial {
    display: inline-block;
    width: 120px;/* ширина */
    font-size: 1rem;/* размер шрифта*/
    padding: 10px;/* внутрение отступ */
}

/* SECTION */
.section {
    margin-top: 10%;/* для того, что бы были вверхний отступ */
}

[class$="title"] {
    text-align: center;/* для всех елементов которые находятся в section и заканчиваются на title располагались по центру */
    padding: 1% 2% ;/* так же что бы они имел внутринее отступы */
}

[class$="item"] {
    color: rgb(45, 47, 47);/* для всех элементов которые находятся в section и заканчиваются на item меняем цвет рифта на серый  */
}

p[class$="item"] {
    padding: 1% 2%;/* для всех параграфов которые находятся в section и заканчиваются на item задаем внутрение отступы */
    text-indent: 5%;/* для всех параграфов которые находятся в section и заканчиваются на item  добавяем отступ первой стоки в каждом элементе*/
}

p::first-letter {
    font-weight: bold;/* для первой буквы в каждом параграфе задаем стилизацию шрифта жирный */
    font-size: 2rem;/* так же задаем размер в два раза больше */
    color: black;/* и черный цвет */
}

.article__title,
.article__item,
.section__title {
    font-family: 'Syne Mono', monospace;/* для всех параграфов и их заголовков задаем специальную стилизацию шрифта */
}